<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>is_delta</key>
	<true/>
	<key>elapsed_ns</key>
	<integer>3017304750</integer>
	<key>processor</key>
	<dict>
		<key>cpu_power</key>
		<real>9924.35</real>
		<key>gpu_power</key>
		<real>169.958</real>
		<key>ane_power</key>
		<real>0.0</real>
		<key>combined_power</key>
		<real>10094.3</real>
	</dict>
	<key>gpu</key>
	<dict>
		<key>idle_ratio</key>
		<real>0.901357</real>
	</dict>
</dict>
</plist>
