<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AvailableDiskSpace</key>
	<integer>371095948</integer>
	<key>ConsoleUser</key>
	<string>TestUser</string>
	<key>EndTime</key>
	<string>2024-01-14 12:00:00 +0000</string>
	<key>Errors</key>
	<array/>
	<key>ManagedInstallVersion</key>
	<string>6.7.2</string>
	<key>ManagedInstalls</key>
	<array>
		<dict>
			<key>description</key>
			<string>Chrome is a fast, simple, and secure web browser, built for the modern web.</string>
			<key>display_name</key>
			<string>Google Chrome</string>
			<key>installed</key>
			<true/>
			<key>installed_size</key>
			<integer>473937</integer>
			<key>installed_version</key>
			<string>130.0.6723.116</string>
			<key>name</key>
			<string>GoogleChrome</string>
		</dict>
		<dict>
			<key>description</key>
			<string>1Password password manager</string>
			<key>display_name</key>
			<string>1Password</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>125000</integer>
			<key>version_to_install</key>
			<string>8.10.44</string>
			<key>name</key>
			<string>1Password</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Slack messaging client</string>
			<key>display_name</key>
			<string>Slack</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>250000</integer>
			<key>version_to_install</key>
			<string>4.47.72</string>
			<key>name</key>
			<string>Slack</string>
		</dict>
	</array>
	<key>ManifestName</key>
	<string>test-manifest-pending</string>
	<key>ProblemInstalls</key>
	<array/>
	<key>StartTime</key>
	<string>2024-01-14 11:58:00 +0000</string>
	<key>Warnings</key>
	<array/>
</dict>
</plist>
